html,body {
    height: 100%;
    overflow-x: hidden;
    text-align: center;
}

.bg-info {
    color: white;
}

button {
    margin: 10px;
    text-transform: capitalize;
}

form {
    text-align: center;
}

.jumbo-tron {
    width: 100%;
    margin: 20px 0;
    padding: 20px 50px;
    overflow-x: hidden;
    background-image: linear-gradient(#e7e7e7, white, #e7e7e7);
    background-image: -webkit-linear-gradient(#e7e7e7, white, #e7e7e7);
    background-image: -o-linear-gradient(#e7e7e7, white, #e7e7e7);
    border-radius: 25px;
    box-sizing: border-box;
}

.border, .border-top, .border-bottom, .border-right, .border-left {
    border-width: 3px !important;
}

.column {
    overflow: hidden;
}

.carousel-item {
    margin-bottom: 20px;
}

.control-icon {
    height: 50px;
    width: 50px;
    background-size: 50%;
}

ol.carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
}

ol.carousel-indicators li {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: .5rem;
    margin-right: .5rem;
    background: rgba(23, 162, 184, 0.5);
}

ol.carousel-indicators li.active {
    background: rgb(23, 162, 184);
}

.card.active {
    background-image: linear-gradient(#1793b8,#ffffff,#1793b8);
    background-image: -webkit-linear-gradient(#1793b8,#ffffff,#1793b8);
    background-image: -o-linear-gradient(#1793b8,#ffffff,#1793b8);
    border-color: lime !important;
}

.card-number {
    line-height: 32px;
    width: 32px;
    margin: 5px;
    opacity: 0.75;
}